@import url('https://fonts.cdnfonts.com/css/forte');

body{
    background-image: linear-gradient(to bottom, #66cdaa, #5BB899);
    text-align: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    position: relative;
    top: 35vh;
    font-size: 35pt;
    color: #ffffff;
    line-height: 0.2;
    font-family: 'Forte', sans-serif;
    text-shadow: 2px 2px 5px white;
    transition: .5s ease;
}

.button{
    position: relative;
    top: 35vh;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #66cdaa;
    background-color: white;
    border: white solid 4px;
    border-radius: 7px;
    transition: .5s ease;
}

.button:hover{
    border: #66cdaa solid 4px;
    color: white;
    background-color: #66cdaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foot{
    position: relative;
    top: 88vh;
    font-family: 'Forte', sans-serif;
    text-shadow: 2px 2px 5px white;
    color: white;
    transition: .5s ease;
}
